<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="./script.js"></script>
   <link rel = "stylesheet" type = "text/css" href = "style.css" />
</head>
<body ng-app='myModule' >
    <div ng-controller='myController'> 
    
    <div >
    <center>
        <button  class="close_bar" ng-click="MultipleSort_Popup()">
            Multicolumn sort
            </button>
    </center>
    </div>
    <table>
        <thead>
        <tr >
            <div >
                <th ng-repeat="col in multiplesort">  {{col}}  </th> 
            </div>
        </tr>  
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees|orderBy:chosen_multisort">
                <td>{{emp.name}}</td>
                <td>{{emp.category}}</td>
                <td>{{emp.salary}}</td>
                <td >{{emp.Age}}</td>
                <td>{{emp.weight}}</td>
            </tr>
        </tbody>
    </table>
   <br>   <br>
   <br>
   <br>
   <div ng-show="modalOpen" ng-include="'view/multiple-sort.html'"></div>        
   
 </div> 

</body>
</html>